html {
  font-size: $font-size-default;
  font-family: Inconsolata;
}

body {
  background-color: $color-app-primary;
}

.v-middle_wrap {
  display: table !important;
  height: 100% !important;
  width: 100% !important;
}
.v-middle {
  display: table-cell !important;
  vertical-align: middle !important
}

.inner-container {
  margin: 0 auto;
  position: relative;
  width: 90%;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
.small-container {
  margin: 0 auto;
  position: relative;
  max-width: 785px;
}

.slick-next {
  top: 110px;
  width: 40px;
  height: 30px;
  position: absolute;
  right: 0;
  z-index: 100;
  background: url(~assets/images/icons/right-arrow.svg) no-repeat;
  opacity: 0.8;
}

.slick-prev {
  top: 110px;
  width: 40px;
  height: 30px;
  position: absolute;
  left: 0;
  z-index: 100;
  background: url(~assets/images/icons/left-arrow.svg) no-repeat;
  opacity: 0.8;
}
.slick-arrow {
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
