html {
  font-size: $font-size-default;
}

.v-middle_wrap {
  display: table !important;
  height: 100% !important;
}
.v-middle {
  display: table-cell !important;
  vertical-align: middle !important
}
