html {
  font-size: $font-size-default;
  font-family: Inconsolata;
}

body {
  background-color: $color-app-primary;
}

.v-middle_wrap {
  display: table !important;
  height: 100% !important;
}
.v-middle {
  display: table-cell !important;
  vertical-align: middle !important
}
