@mixin animate-common-ty {
  opacity: 0;
  position: relative;
  top: -$height-animate-ty;
}
@mixin animate-common-tx {
  opacity: 0;
  position: relative;
  left: -$height-animate-tx;
}
@mixin home-subTitle {
  font-family: Yantramanav;
  font-size: $font-size-x3-large;
  font-weight: bold;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-x2-large ;
  }
}
