/************ Colors *****************/

$color-light-green: #c0e4da;
$color-light-blue: #cde8f0;
$color-light-gray: #f0f0f0;
$color-dark-gray: #DDD;
$color-gray: gray;
$color-light-black: #383838;
$color-black: black;
$color-white: white;


$color-app-primary: $color-light-green;
$color-app-secondary: $color-light-blue;
$color-app-third: $color-light-gray;


/************ Fonts *****************/

$font-size-default: 18px;


/************ Height *****************/
$height-animate-ty: 40px;
$height-animate-tx: 40px;

$height-header_contact: 63px;
$height-header_navigation: 117px;
$height-body: calc(100vh - #{$height-header_contact + $height-header_navigation});

$height-home-head: calc(96vh - #{$height-header_contact + $height-header_navigation});

$height-home-head-mobile: calc(96vh - #{$height-header_navigation});
$height-treatments-head: calc(49vh - #{$height-header_contact / 2 + $height-header_navigation});
$height-news-head: calc(46vh - #{$height-header_contact / 2 + $height-header_navigation});


