.app-footer {
  @include animate-common-ty;
  background-color: $color-dark-gray;
  padding: 35px 0;
  text-align: left;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  h5 {
    padding-bottom: 20px;
    font-size: $font-size-small;
  }
  p {
    font-size: $font-size-x2-small;
  }

  .footer-logo {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    img {
      width: 32.3px;
      height: auto;
      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }
    }
    h5 {
      margin-top: 10px;
      padding-bottom: 0;

    }
    .footer-title {
      padding: 0 15px;
      color: $color-light-black;
    }
    * {
      margin-bottom: 0;
    }
  }
  .footer-content{
    margin-top: 15px;
    .footer-left {
      padding-top: 10px;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    .footer-left-about {
      flex: 1;
    }

    .footer-left-contact {
      flex: 1.9;
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
    }

    .footer-right-content{
      margin-top:25px;
      margin-left: -20px;
      @include media-breakpoint-down(sm) {
        margin-left: 0px;
      }
      h5 {
        padding-bottom: 0;
      }
      img{
        width:15px;
        opacity:0.7;
      }
    }
  }
}
