.app-body {
  @include animate-common-ty;
  background-color: $color-app-secondary;
  min-height: $height-body;

  .main {
    height: 100%;
  }

  .headline {
    h1 {
      @include animate-common-tx;
      padding-top: 40px;
    }
  }
}
