.button-round {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 2px $color-black;
  font-size: $font-size-default;
  font-family: Inconsolata;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: center;
  color: $color-black;
  padding: 20px 20px;
  text-decoration: none !important;
}
.button-normal-round {
  @extend .button-round;
  font-size: 20px;
  padding: 18px 38px;
  @include media-breakpoint-down(sm) {
    padding: 20px 20px;
  }
}
.button-small-round {
  @extend .button-round;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 28px;
}
.button-extend-small-round {
  @extend .button-round;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 40px;
}
.button-extend-normal-round {
  @extend .button-round;
  font-size: 20px;
  padding: 20px 100px;
  @include media-breakpoint-down(sm) {
    padding: 20px 40px;
  }
}
