.button-round {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 1.5px $color-black;
  font-size: $font-size-default;
  font-family: Inconsolata;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: center;
  color: $color-black;
  padding: 10px 10px;
  text-decoration: none !important;
}
.button-normal-round {
  @extend .button-round;
  font-size: $font-size-default;
  padding: 13px 30px;
  @include media-breakpoint-down(sm) {
    padding: 13px 20px;
  }
}
.button-small-round {
  @extend .button-round;
  font-size: $font-size-x1-small;
  font-weight: 600;
  padding: 11px 22px;
}
.button-extend-small-round {
  @extend .button-round;
  font-weight: 600;
  padding: 7px 30px;
}
.button-extend-normal-round {
  @extend .button-round;
  padding: 14px 74px;
  @include media-breakpoint-down(sm) {
    padding: 14px 40px;
  }
}
