#page_contact {
  section.contact-form {
    background: $color-app-primary;

    .contact-form-title {
      h1 {
        text-align: center;
        font-size: $font-size-x5-large;
        font-family: Yantramanav;
        font-weight: bold;
      }
    }

    form {
      max-width: 717px;
      margin: 0 auto;

      .view-more {
        margin-top: 100px;
        text-align: center;
      }
    }
    padding-bottom: 80px;
  }

  section.appointment {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .appointment-right {
      flex: 1;
      #map {
        width: 100%;
        height: 525px;
        background-color: $color-app-third;
        text-align: center;
        @include media-breakpoint-down(lg) {
          height: 450px;
        }
      }
    }

    .appointment-left {
      flex: 1;
      .appointment-left-content {
        max-width: 411px;
        margin: 0 auto;

        .appointment-left-title {
          h2 {
            @include home-subTitle;
            margin-top: 40px;
          }
        }
        .appointment-left-description {
          p {
            font-size: $font-size-large;
            margin-top: 22px;
          }
        }
        .appointment-left-button {
          margin-top: 80px;
        }
      }
    }
  }
}
