@import '../../../assets/scss/helpers/mixins';

#page_home {
  color: $color-light-black;
  font-family: Yantramanav;
  section.header {
    height: $height-home-head;
    background-color: $color-app-primary;
    text-align: center;
    @include media-breakpoint-down(sm) {
      height: $height-home-head-mobile;
    }

    h1 {
      margin-top: -219px;
      font-size: 78px;
      font-family: Yantramanav;
      font-weight: bold;
      @include media-breakpoint-down(sm) {
        margin-top: -180px;
        font-size: 40px;
      }
    }
    h2 {
      font-size: 54px;
      font-weight: normal;
      font-family: Yantramanav;
      padding-bottom: 6px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
    .header-bottom {
      bottom: 100px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        bottom: 150px;
      }

      p {
        font-family: Inconsolata;
        margin: 0 auto;
        padding-bottom: 34px;
        max-width: 900px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .header-arrow_wrap {
      position: absolute;
      bottom: 30px;
      width: 100%;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        bottom: 80px;
      }

      img.header-arrow {
        width: 24px;
        animation: bounce 2s infinite;
        cursor: pointer;
      }
    }
    .header-bottom_back {
      position: absolute;
      bottom: 0;
      height: 30vh;
      width: 100%;
      z-index: 0;
      background: url(~assets/images/logo.svg) no-repeat;
      background-size: cover;
      background-position: top;
    }
  }

  section.tenerife {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .tenerife-left {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .tenerife-right {
      flex: 1;
      align-items: center;

      .tenerife-right-content {
        padding-left: 128px;
        @include media-breakpoint-down(sm) {
          padding: 50px;
        }

        .tenerife-right-title {
          max-width: 550px;
          h2 {
            font-family: Yantramanav;
            font-size: 47px;
            font-weight: bold;
            padding-top: 20px;
            line-height: 1.34;
          }
        }
        .tenerife-right-description {
          max-width: 550px;
          p {
            margin-top: 28px;
            font-size: 22px;
            line-height: 1.4;
          }
        }
        .tenerife-right-button {
          a {
            margin-top: 12px;
          }
        }
      }
    }
  }

  section.about {
    @extend .section-base;
    padding: 150px 0;
    text-align: center;
    background: $color-app-third;
    .about-title {
      margin-top: -50px;
      h2 {
        font-size: 44px;
        font-weight: bold;
      }
    }

    .about-content-item {
      margin-top: 90px;
      .item-image {
        img {
          width: 154px;
          height: 140px;
        }
        .image-second {
          padding-top: 15px;
          width: 154px;
          height: 140px;
        }
        .image-third {
          padding-top: 14px;
          width: 90px;
          height: 132px;
        }
      }
      .item-description {
        h5 {
          margin-top: 67px;
        }
        p {
          line-height: 1.3;
          margin-top: 18px;
          padding: 0 52px;

        }
      }
    }
  }

  section.treatments {
    @extend .section-base;
    text-align: center;
    background-color: $color-app-secondary;

    .treatments-title {
      h2 {
        margin-top: -16px;
        font-size: 43px;
        font-weight: bold;
      }
      p {
        max-width: 720px;;
        margin: 0 auto;
        padding-top: 18px;
        line-height: 1.3;
      }
    }

    .treatments-content-item {
      margin-top: 90px;
      padding: 50px 20px;
      background-color: $color-white;
      .item-image {
        img {
          width: auto;
          height: 120px;
          margin-top: 34px;
        }
        .item-image-third {
          width: 130px;
          height: 96px;
          margin-top: 55px;
          margin-left: 20px;
        }
      }
      .item-description {
        padding: 0 30px;
        h5 {
          margin-top: 80px;
        }
        p {
          margin-top: 18px;
        }
      }
      .item-button {
        margin-top: 30px;
        margin-bottom: 30px;
        a {
          font-size: 20px;
        }
      }
    }
  }

  section.shop {
    @extend .section-base;
    text-align: center;
    background-color: $color-white;
    .shop-title {
      margin-top: 30px;
      h2 {
        @include home-subTitle;
      }
    }

    .shop-content-item {
      margin-top: 80px;

      .item-image {
        img {
          width: auto;
          height: 235px;
        }
      }
      .item-description {
        margin-top: 40px;
        p {
          max-width: 250px;
          margin: 0 auto;
        }
      }
      .item-price {
        p {
          margin-top: 14px;
        }
        span {
          text-decoration: line-through;
        }
      }
      .item-button {
        margin-top: 28px;
      }
    }
    .shop-more {
      margin-top: 80px;
      margin-bottom: 60px;
    }
  }

  section.news {
    @extend .section-base;
    text-align: center;
    background: $color-app-secondary;

    .news-title {
      margin-top: -24px;
      h2 {
        @include home-subTitle;
      }
    }
    .news-content-item {
      margin-top: 51px;

      .item-image {
        img {
          width: 100%;
          height: 312px;
        }
      }
      .item-description {
        h5 {
          margin-top: 30px;
        }
        p {
          line-height: 1.3;
          padding: 14px 50px;
          margin-bottom: 0px;
        }
        small {
          letter-spacing: 2.3px;
        }
      }
    }
    .news-more {
      margin-top: 60px;
    }
  }

  section.appointment {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .appointment-left {
      flex: 1;
      #map {
        width: 100%;
        height: 700px;
        background-color: $color-app-third;
        text-align: center;
      }
    }

    .appointment-right {
      flex: 1;
      align-items: center;
      .appointment-right-title {
        h2 {
          @include home-subTitle;
          font-size: 47px;
        }
      }
      .appointment-right-content {
        padding-left: 130px;

        @include media-breakpoint-down(sm) {
          padding: 50px;
        }

        .appointment-right-title {
          max-width: 550px;
          margin-top: -6px;
        }
        .appointment-right-description {
          max-width: 550px;
          p {
            margin-top: 30px;
            font-size: 22px;
          }
        }
        .appointment-right-button {
          a {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
