@import '../../../assets/scss/helpers/mixins';

#page_home {
  color: $color-light-black;
  font-family: Yantramanav;
  section.header {
    height: $height-home-head;
    background-color: $color-app-primary;
    text-align: center;
    position: relative;
    overflow: hidden;

    .container {
      z-index: 1;
    }

    @include media-breakpoint-down(sm) {
      height: $height-home-head-mobile;
    }

    h1 {
      margin-top: -145px;
      font-size: $font-size-x6-large;
      font-family: Yantramanav;
      font-weight: bold;
      @include media-breakpoint-down(sm) {
        margin-top: -180px;
        font-size: $font-size-x3-large;
      }
    }
    h2 {
      font-size: $font-size-x4-large;
      font-weight: normal;
      font-family: Yantramanav;
      padding-bottom: 6px;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-x2-large;
      }
    }
    .header-bottom {
      bottom: 70px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        bottom: 110px;
      }

      p {
        font-family: Inconsolata;
        margin: 0 auto;
        padding-bottom: 34px;
        max-width: 680px;
        font-size: $font-size-default;
        font-weight: bold;
        @include media-breakpoint-down(lg) {
          max-width: 700px;
        }
      }
    }
    .header-arrow_wrap {
      position: absolute;
      bottom: 30px;
      width: 100%;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        bottom: 80px;
      }

      img.header-arrow {
        width: 20px;
        animation: bounce 2s infinite;
        cursor: pointer;
      }
    }
    .header-bottom_back {
      position: absolute;
      bottom: 0;
      height: 262px;
      width: 985px;
      z-index: 0;
      background: url(~assets/images/logo.svg) no-repeat;
      background-size: cover;
      background-position: top;
      left: 50%;
      transform: translateX(-50%);
      @include media-breakpoint-down(lg) {
        width: 850px;
      }
      @include media-breakpoint-down(md) {
        width: 720px;
        height: 300px;
      }
    }
  }

  section.tenerife {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .tenerife-left {
      flex: 1;
      &-content {
        height: 656px;
        background: url(~assets/images/home/tenerife/michael-browning-40733-unsplash.png) no-repeat center;
        background-size: cover;
        @include media-breakpoint-down(lg) {
          height: 400px;
        }
      }
    }
    .tenerife-right {
      flex: 1;
      align-items: center;

      .tenerife-right-content {
        padding-left: 95px;
        @include media-breakpoint-down(lg) {
          padding: 50px;
        }

        .tenerife-right-title {
          max-width: 411px;
          h2 {
            @include home-subTitle;
            padding-top: 20px;
            line-height: 1.34;
            @include media-breakpoint-down(sm) {
              font-size: $font-size-x3-large;
            }
          }
        }
        .tenerife-right-description {
          max-width: 411px;
          p {
            margin-top: 28px;
            font-size: $font-size-large;
            line-height: 1.4;
          }
        }
        .tenerife-right-button {
          a {
            margin-top: 12px;
          }
        }
      }
    }
  }

  section.about {
    @extend .section-base;
    text-align: center;
    background: $color-app-third;
    .about-title {
      h2 {
        @include home-subTitle;
      }
    }

    .about-content-item {
      margin-top: 60px;
      margin-bottom: 35px;

      .item-image {
        height: 105px;
        img.image-first {
          width: auto;
          height: 103.5px;
        }
        img.image-second {
          padding-top: 15px;
          width: auto;
          height: 92.4px;
        }
        img.image-third {
          padding-top: 14px;
          width: auto;
          height: 89.5px;
        }
      }
      .item-description {
        h5 {
          margin-top: 54px;
        }
        p {
          line-height: 1.3;
          margin-top: 10px;
        }
      }
    }
  }

  section.treatments {
    @extend .section-base;
    text-align: center;
    background-color: $color-app-secondary;

    .treatments-title {
      h2 {
        margin-top: -7px;
        @include home-subTitle;
      }
      p {
        max-width: 560px;;
        margin: 0 auto;
        padding-top: 10px;
        line-height: 1.3;
        font-size: $font-size-small;
      }
    }

    .treatments-content-item {
      margin-top: 70px;
      padding: 40px 20px;
      background-color: $color-white;

      .item-image {
        height: 92px;
        img {
          width: auto;
          height: 92px;
          margin-top: 24px;
        }
        .item-image-third {
          width: auto;
          height: 70.2px;
          margin-top: 55px;
          margin-left: 20px;
        }
      }
      .item-description {
        h5 {
          margin-top: 81px;
        }
        p {
          max-width: 357px;
          margin: 0 auto;
          margin-top: 15px;
        }
      }
      .item-button {
        margin: 15px 0;
      }
    }
  }

  section.shop {
    @extend .section-base;
    text-align: center;
    background-color: $color-white;
    .shop-title {
      margin-top: 30px;
      h2 {
        @include home-subTitle;
      }
    }

    .shop-content-item {
      margin-top: 27px;

      .item-image {
        img {
          width: auto;
          height: 235px;
        }
      }
      .item-description {
        margin-top: 5px;
        p {
          max-width: 180px;
          margin: 0 auto;
          font-size: $font-size-small;
        }
      }
      .item-price {
        p {
          margin-top: 8px;
        }
        span {
          text-decoration: line-through;
        }
      }
      .item-button {
        margin-top: 20px;
      }
    }
    .shop-more {
      margin-top: 61px;
      margin-bottom: 44px;
    }
  }

  section.news {
    @extend .section-base;
    padding-bottom: 62px;
    text-align: center;
    background: $color-app-secondary;

    .news-title {
      margin-top: -16px;
      h2 {
        @include home-subTitle;
      }
    }
    .news-content-item {
      margin-top: 35px;

      .item-image {
        img {
          width: 100%;
          height: 235.5px;
        }
      }
      .item-description {
        h5 {
          margin-top: 23px;
        }
        p {
          line-height: 1.3;
          max-width: 271px;
          margin: 14px auto;
          font-size: $font-size-small;
        }
        small {
          letter-spacing: 2.3px;
        }
      }
    }
    .news-more {
      margin-top: 42px;
    }
  }

  section.appointment {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .appointment-left {
      flex: 1;
      #map {
        width: 100%;
        height: 525px;
        background-color: $color-app-third;
        text-align: center;
        @include media-breakpoint-down(lg) {
          height: 400px;
        }
      }
    }

    .appointment-right {
      flex: 1;
      align-items: center;
      .appointment-right-title {
        h2 {
          @include home-subTitle;
          margin-top: 40px;
        }
      }
      .appointment-right-content {
        padding-left: 95px;

        @include media-breakpoint-down(lg) {
          padding: 50px;
        }

        .appointment-right-title {
          max-width: 411px;
          h5 {
            margin-top: 35px;
          }
        }
        .appointment-right-description {
          max-width: 411px;
          p {
            font-size: $font-size-large;
            margin-top: 22px;
          }
        }
        .appointment-right-button {
        }
      }
    }
  }
}
