#page_treatments {
  font-family: Yantramanav;
  section.header {
    height: $height-treatments-head;
    background-color: $color-app-primary;
    text-align: center;

    .headline {
      position: relative;
      z-index: 1;

      h1 {
        margin-top: -150px;
        font-size: 60px;
        color: $color-light-black;
        font-weight: bold;
        @include media-breakpoint-down(sm) {
          margin-top: -80px;
          font-size: 40px;
        }
      }
    }

    .header-bottom_back {
      position: absolute;
      bottom: -8px;
      height: 20vh;
      width: 100%;
      z-index: 0;

      background: url(~assets/images/logo.svg) no-repeat;
      background-size: cover;
      background-position: top;
    }
  }

  section.menu {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: row;
    }
    .menu-description {
      text-align: center;
      max-width: 100%;
      margin-top: -34px;
      p {
        font-size: 18px;
        margin: 0 auto;
        max-width: 720px;
        line-height: 1.3;
      }
    }
    .menu-bar {
      margin-top: 38px;
      padding-bottom: 12px;

      .menubar-content {
        font-size: 26px;
        list-style: none;
        display: flex;
        padding: 0;
        text-align: center;
        max-width: 842px;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
        .menubar-item {
          &.dental {
            flex: 1;
          }
          &.esthetics {
            flex: 1;
          }
          &.dental-esthetics {
            flex: 1.5;
          }
          &.natural-medicine {
            flex: 1.5;
          }

          .menu-link {
            color: $color-light-black;
            display: inline-block;
            font-size: 30px;
            padding: 0;
            position: relative;
            text-decoration: none;

            @include media-breakpoint-down(md) {
              margin-top: 20px;
            }

            &::after {
              background: $color-light-black;
              content: " ";
              display: block;
              height: 5px;
              margin-top: 5px;
              position: absolute;
              transform: scale(0);
              transition: transform .1s;
              width: 100%;
            }
            &.active::after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  section.treatments-content {
    text-align: center;
    .treatments-content-item {
      margin-top: 80px;
      padding: 46px 24px 16px 24px;
      background-color: $color-white;
      .item-image {
        img {
          width: 70px;
          height: 80px;
        }
      }
      .item-description {
        h5 {
          font-size: 24px;
          margin-top: 20px;
          font-weight: bold;
        }
        h6 {
          font-family: Inconsolata;
          font-size: 18px;
          font-weight: bold;
        }
        p {
          margin-top: 37px;
          font-size: 18px;
          line-height: 1.3;
        }
      }
      .item-button {
        margin-top: 30px;
        .button-extend-normal-round {
          padding: 18px 96px;
        }
      }
    }
    .body-content-group {
      margin-bottom: 142px;
    }
  }
}
