#page_treatments {
  padding-bottom: 110px;
  .container {
    z-index: 1;
  }
  section.header {
    height: $height-treatments-head;
    background-color: $color-app-primary;
    text-align: center;
    position: relative;
    overflow: hidden;

    .headline {
      position: relative;
      z-index: 1;

      h1 {
        margin-top: -110px;
        font-size: $font-size-x5-large;
        color: $color-light-black;
        @include media-breakpoint-down(sm) {
          margin-top: -80px;
          font-size: $font-size-x3-large;
        }
      }
    }

    .header-bottom_back {
      position: absolute;
      bottom: 0;
      height: 175px;
      width: 985px;
      z-index: 0;
      background: url(~assets/images/logo.svg) no-repeat;
      background-size: cover;
      background-position: top;
      left: 50%;
      transform: translateX(-50%);
      @include media-breakpoint-down(lg) {
        width: 850px;
      }
      @include media-breakpoint-down(md) {
        width: 720px;
        height: 125px;
      }
    }
  }

  section.menu {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: row;
    }
    .menu-description {
      text-align: center;
      max-width: 100%;
      margin-top: -22px;
      p {
        font-size: $font-size-small;
        margin: 0 auto;
        max-width: 600px;
      }
    }
    .menu-bar {
      margin-top: 25px;
      padding-bottom: 12px;

      .menubar-content {
        font-size: $font-size-x2-x-large;
        list-style: none;
        display: flex;
        padding: 0;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
        .menubar-item {
          &.dental {
            flex: 1;
          }
          &.esthetics {
            flex: 1;
          }
          &.dental-esthetics {
            flex: 2;
          }
          &.natural-medicine {
            flex: 2;
          }

          .menu-link {
            color: $color-light-black;
            display: inline-block;
            font-size: $font-size-x2-x-large;
            padding: 0;
            position: relative;
            text-decoration: none;

            @include media-breakpoint-down(md) {
              margin-top: 20px;
            }

            &::after {
              background: $color-light-black;
              content: " ";
              display: block;
              height: 4.5px;
              margin-top: 5px;
              position: absolute;
              transform: scale(0);
              transition: transform .1s;
              width: 100%;
            }
            &.active::after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  section.treatments-content {
    margin-top: -16px;
    text-align: center;
    h3 {
      margin-top: 50px;
      font-size: $font-size-x2-large;
    }
    .treatments-content-item {
      margin-top: 108px;
      background-color: $color-white;
      .item-image {
        img {
          width: 50.7px;
          height: auto;
        }
      }
      .item-description {
        h5 {
          margin-top: 14px;
          font-size: $font-size-x1-large;
        }
        h6 {
          font-size: $font-size-small;
        }
        p {
          font-size: $font-size-small;
          max-width: 250px;
          margin: 0 auto;
          margin-top: 25px;
        }
      }
      .item-button {
        margin-top: 15px;
      }
    }

    #slider {
      margin-top: -20px;
    }

    .slider-item {

      &-image > img {
        width: 98px;
        margin: 0 auto;
      }

      &-description {
        text-align: left;
        font-size: $font-size-large;
        max-width: 717px;
        margin: 0 auto;
        margin-top: 40px;
      }

      &-specs {
        display: flex;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 80px;
        &-item {
          flex: 1;
          &-description {
            max-width: 260px;
            margin: 0 auto;
            margin-top: 15px;
            font-size: $font-size-small;
          }
        }
      }
    }
  }
}
